<form>
  <div class="form-row toprow">
    <div class="col-auto">
      <input class="form-control" type="number" name="kerf" [(ngModel)]="kerf" />
    </div>
    <div class="col-auto">
      <select class="form-control" name="guillotine" [(ngModel)]="guillotine">
        <option *ngFor="let gv of guillotineValues" [attr.value]="gv.value" [ngValue]="gv.value">{{gv.label}}</option>
      </select>
    </div>
    <div class="col-auto">
      <select class="form-control" name="guillotine" [(ngModel)]="selectedType">
        <option *ngFor="let type of types" [ngValue]="type.id">{{getTypeDescription(type)}}</option>
      </select>
    </div>
    <div class="col-auto">
      <input class="form-control" type="number" name="time" [(ngModel)]="time" />
    </div>
    <div class="col-auto">
      <button class="form-control" (click)="onClick()">Nest</button>
    </div>
  </div>
</form>